.btns3 {
  align-items: center;
  justify-content: center;
    padding: 8px 16px;
    border: 1px solid #d1d0d0;
    border-radius: 50px;
    background-color: transparent;
    color: #3e3e3e;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 5px;
    text-decoration: none;
  }

  .btns3:hover {
    background-color: #ff6200;
    color: #ffffff;
  }

  .btns3.active {
    background-color: #ff6200;
    color: #ffffff !important;
    border-color: #d1d0d0;
  } 