<div *ngIf="spinner" class="spin">
  <app-spinner></app-spinner>
</div>

<div
  class="headertop"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../assets/assets/img/empty-black-wall-with-blank-frame-it_853451-299.avif);
    background-size: cover;
    padding-bottom: 120px;
  "
>
  <div
    style="
      padding-top: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 50px;
      font-weight: 800;
      letter-spacing: 1px;
    "
  >
    Checkout
  </div>
</div>

<!--=============== MAIN ===============-->
<main class="main">
  <!--=============== BREADCRUMB ===============-->
  <section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
      <li><a class="breadcrumb__link">Home</a></li>
      <li><span class="breadcrumb__link">></span></li>
      <li><span class="breadcrumb__link">Shop</span></li>
      <li><span class="breadcrumb__link">></span></li>
      <li><span class="breadcrumb__link">Checkout</span></li>
    </ul>
  </section>

  <!--=============== CHECKOUT ===============-->


 



  <section class="checkout">
    <div class="checkout__container container grid">
      <div class="checkout__group">
        <h3 class="section__title">Billing Details</h3>
        <div class="row g-3">
          <!-- <div class="col-md-6">
            <label for="inputName" class="form-label form-group required" 
            >Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="" required="required">
          </div> -->

          <div class="new required col-md-12">
            <label class="control-label"> First name </label>
            <input
              type="text"
              class="form-control {{
                err && !billingDetails.name ? 'is-invalid' : ''
              }}"
              (click)="err = false"
              (click)="err = false"
              id="inputName"
              placeholder=""
              required="required"
              [(ngModel)]="billingDetails.name"
            />
          </div>

          <!-- <div class="new required col-md-12">
            <label class='control-label'>
              Last name
            </label>
            <input type="text" class="form-control" id="inputName" placeholder="" required="required">
          </div> -->
          <!-- <div class="new required col-md-12">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="">
          </div> -->

       

          <!-- <div class="new required col-md-12">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity" placeholder="">
          </div> -->

       

          <div class="new required col-md-12">
            <label class="control-label"> Phone </label>
            <input
              type="text"
              class="form-control {{
                err && !billingDetails.phone ? 'is-invalid' : ''
              }}"
              (click)="err = false"
              id="inputName"
              placeholder=""
              required="required"
              [(ngModel)]="billingDetails.phone"
            />
          </div>

          <div class="new required col-md-12">
            <label class="control-label"> Email </label>
            <input
              type="email"
              class="form-control {{
                err && !billingDetails.email ? 'is-invalid' : ''
              }}"
              (click)="err = false"
              id="inputName"
              placeholder=""
              required="required"
              [(ngModel)]="billingDetails.email"
            />
          </div>



          <!-- <div class="new required col-md-12">
            <label for="inputCountry" class="form-label">Country</label>
            <input type="text" class="form-control" id="inputCountry" placeholder="">
          </div> -->

          <!-- <div class="col-md-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="">
          </div> -->

          <div class="new required col-md-12">
            <label class="control-label"> Street Address </label>
            <input
              type="text"
              class="form-control {{
                err && !billingDetails.address ? 'is-invalid' : ''
              }}"
              (click)="err = false"
              id="inputName"
              placeholder=""
              required="required"
              [(ngModel)]="billingDetails.address"
            />
          </div>

          <div class="new required col-md-12">
            <label class="control-label"> City </label>
            <input
              type="text"
              class="form-control {{
                err && !billingDetails.city ? 'is-invalid' : ''
              }}"
              (click)="err = false"
              id="inputName"
              placeholder=""
              required="required"
              [(ngModel)]="billingDetails.city"
            />
          </div>

          <div class="new required col-md-12">
            <label class="control-label"> State </label>
            <select 
                class="form-control {{
                    err && !billingDetails.state ? 'is-invalid' : ''
                }}"
                (click)="err = false"
                id="inputName"
                required="required"
                [(ngModel)]="billingDetails.state">
                <option value="">Select State</option>
                <option value="AP">Andhra Pradesh</option>
                <option value="AR">Arunachal Pradesh</option>
                <option value="AS">Assam</option>
                <option value="BR">Bihar</option>
                <option value="CT">Chhattisgarh</option>
                <option value="GA">Goa</option>
                <option value="GJ">Gujarat</option>
                <option value="HR">Haryana</option>
                <option value="HP">Himachal Pradesh</option>
                <option value="JK">Jammu and Kashmir</option>
                <option value="JH">Jharkhand</option>
                <option value="KA">Karnataka</option>
                <option value="KL">Kerala</option>
                <option value="MP">Madhya Pradesh</option>
                <option value="MH">Maharashtra</option>
                <option value="MN">Manipur</option>
                <option value="ML">Meghalaya</option>
                <option value="MZ">Mizoram</option>
                <option value="NL">Nagaland</option>
                <option value="OR">Odisha</option>
                <option value="PB">Punjab</option>
                <option value="RJ">Rajasthan</option>
                <option value="SK">Sikkim</option>
                <option value="TN">Tamil Nadu</option>
                <option value="TS">Telangana</option>
                <option value="TR">Tripura</option>
                <option value="UK">Uttarakhand</option>
                <option value="UP">Uttar Pradesh</option>
                <option value="WB">West Bengal</option>
                <option value="AN">Andaman and Nicobar Islands</option>
                <option value="CH">Chandigarh</option>
                <option value="DN">Dadra and Nagar Haveli and Daman and Diu</option>
                <option value="DL">Delhi</option>
                <option value="LD">Lakshadweep</option>
                <option value="PY">Puducherry</option>
                
                <!-- Add more options as needed -->
            </select>
        </div>
        

        <div class="new required col-md-12">
          <label class="control-label"> Country </label>
          <select 
              class="form-control {{
                  err && !billingDetails.country ? 'is-invalid' : ''
              }}"
              (click)="err = false"
              id="inputName"
              required="required"
              [(ngModel)]="billingDetails.country">
              <option value="">Select Country</option>
              <option value="AF">Afghanistan</option>
              <option value="AL">Albania</option>
              <option value="DZ">Algeria</option>
              <option value="AD">Andorra</option>
              <option value="AO">Angola</option>
              <option value="AI">Anguilla</option>
              <option value="AQ">Antarctica</option>
              <option value="AG">Antigua and Barbuda</option>
              <option value="AR">Argentina</option>
              <option value="AM">Armenia</option>
              <option value="AW">Aruba</option>
              <option value="AU">Australia</option>
              <option value="AT">Austria</option>
              <option value="AZ">Azerbaijan</option>
              <option value="BS">Bahamas</option>
              <option value="BH">Bahrain</option>
              <option value="BD">Bangladesh</option>
              <option value="BB">Barbados</option>
              <option value="BY">Belarus</option>
              <option value="BE">Belgium</option>
              <option value="BZ">Belize</option>
              <option value="BJ">Benin</option>
              <option value="BM">Bermuda</option>
              <option value="BT">Bhutan</option>
              <option value="BO">Bolivia</option>
              <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
              <option value="BA">Bosnia and Herzegovina</option>
              <option value="BW">Botswana</option>
              <option value="BV">Bouvet Island</option>
              <option value="BR">Brazil</option>
              <option value="IO">British Indian Ocean Territory</option>
              <option value="BN">Brunei Darussalam</option>
              <option value="BG">Bulgaria</option>
              <option value="BF">Burkina Faso</option>
              <option value="BI">Burundi</option>
              <option value="CV">Cabo Verde</option>
              <option value="KH">Cambodia</option>
              <option value="CM">Cameroon</option>
              <option value="CA">Canada</option>
              <option value="KY">Cayman Islands</option>
              <option value="CF">Central African Republic</option>
              <option value="TD">Chad</option>
              <option value="CL">Chile</option>
              <option value="CN">China</option>
              <option value="CX">Christmas Island</option>
              <option value="CC">Cocos (Keeling) Islands</option>
              <option value="CO">Colombia</option>
              <option value="KM">Comoros</option>
              <option value="CG">Congo</option>
              <option value="CD">Congo, Democratic Republic of the</option>
              <option value="CK">Cook Islands</option>
              <option value="CR">Costa Rica</option>
              <option value="HR">Croatia</option>
              <option value="CU">Cuba</option>
              <option value="CW">Curaçao</option>
              <option value="CY">Cyprus</option>
              <option value="CZ">Czechia</option>
              <option value="CI">Côte d'Ivoire</option>
              <option value="DK">Denmark</option>
              <option value="DJ">Djibouti</option>
              <option value="DM">Dominica</option>
              <option value="DO">Dominican Republic</option>
              <option value="EC">Ecuador</option>
              <option value="EG">Egypt</option>
              <option value="SV">El Salvador</option>
              <option value="GQ">Equatorial Guinea</option>
              <option value="ER">Eritrea</option>
              <option value="EE">Estonia</option>
              <option value="SZ">Eswatini</option>
              <option value="ET">Ethiopia</option>
              <option value="FK">Falkland Islands (Malvinas)</option>
              <option value="FO">Faroe Islands</option>
              <option value="FJ">Fiji</option>
              <option value="FI">Finland</option>
              <option value="FR">France</option>
              <option value="GF">French Guiana</option>
              <option value="PF">French Polynesia</option>
              <option value="TF">French Southern Territories</option>
              <option value="GA">Gabon</option>
              <option value="GM">Gambia</option>
              <option value="GE">Georgia</option>
              <option value="DE">Germany</option>
              <option value="GH">Ghana</option>
              <option value="GI">Gibraltar</option>
              <option value="GR">Greece</option>
              <option value="GL">Greenland</option>
              <option value="GD">Grenada</option>
              <option value="GP">Guadeloupe</option>
              <option value="GU">Guam</option>
              <option value="GT">Guatemala</option>
              <option value="GG">Guernsey</option>
              <option value="GN">Guinea</option>
              <option value="GW">Guinea-Bissau</option>
              <option value="GY">Guyana</option>
              <option value="HT">Haiti</option>
              <option value="HM">Heard Island and McDonald Islands</option>
              <option value="VA">Holy See</option>
              <option value="HN">Honduras</option>
              <option value="HK">Hong Kong</option>
              <option value="HU">Hungary</option>
              <option value="IS">Iceland</option>
              <option value="IN">India</option>
              <option value="ID">Indonesia</option>
              <option value="IR">Iran, Islamic Republic of</option>
              <option value="IQ">Iraq</option>
              <option value="IE">Ireland</option>
              <option value="IM">Isle of Man</option>
              <option value="IL">Israel</option>
              <option value="IT">Italy</option>
              <option value="JM">Jamaica</option>
              <option value="JP">Japan</option>
              <option value="JE">Jersey</option>
              <option value="JO">Jordan</option>
              <option value="KZ">Kazakhstan</option>
              <option value="KE">Kenya</option>
              <option value="KI">Kiribati</option>
              <option value="KP">Korea, Democratic People's Republic of</option>
              <option value="KR">Korea, Republic of</option>
              <option value="KW">Kuwait</option>
              <option value="KG">Kyrgyzstan</option>
              <option value="LA">Lao People's Democratic Republic</option>
              <option value="LV">Latvia</option>
              <option value="LB">Lebanon</option>
              <option value="LS">Lesotho</option>
              <option value="LR">Liberia</option>
              <option value="LY">Libya</option>
              <option value="LI">Liechtenstein</option>
              <option value="LT">Lithuania</option>
              <option value="LU">Luxembourg</option>
              <option value="MO">Macao</option>
              <option value="MG">Madagascar</option>
              <option value="MW">Malawi</option>
              <option value="MY">Malaysia</option>
              <option value="MV">Maldives</option>
              <option value="ML">Mali</option>
              <option value="MT">Malta</option>
              <option value="MH">Marshall Islands</option>
              <option value="MQ">Martinique</option>
              <option value="MR">Mauritania</option>
              <option value="MU">Mauritius</option>
              <option value="YT">Mayotte</option>
              <option value="MX">Mexico</option>
              <option value="FM">Micronesia, Federated States of</option>
              <option value="MD">Moldova, Republic of</option>
              <option value="MC">Monaco</option>
              <option value="MN">Mongolia</option>
              <option value="ME">Montenegro</option>
              <option value="MS">Montserrat</option>
              <option value="MA">Morocco</option>
              <option value="MZ">Mozambique</option>
              <option value="MM">Myanmar</option>
              <option value="NA">Namibia</option>
              <option value="NR">Nauru</option>
              <option value="NP">Nepal</option>
              <option value="NL">Netherlands</option>
              <option value="NC">New Caledonia</option>
              <option value="NZ">New Zealand</option>
              <option value="NI">Nicaragua</option>
              <option value="NE">Niger</option>
              <option value="NG">Nigeria</option>
              <option value="NU">Niue</option>
              <option value="NF">Norfolk Island</option>
              <option value="MK">North Macedonia</option>
              <option value="MP">Northern Mariana Islands</option>
              <option value="NO">Norway</option>
              <option value="OM">Oman</option>
              <option value="PK">Pakistan</option>
              <option value="PW">Palau</option>
              <option value="PS">Palestine, State of</option>
              <option value="PA">Panama</option>
              <option value="PG">Papua New Guinea</option>
              <option value="PY">Paraguay</option>
              <option value="PE">Peru</option>
              <option value="PH">Philippines</option>
              <option value="PN">Pitcairn</option>
              <option value="PL">Poland</option>
              <option value="PT">Portugal</option>
              <option value="PR">Puerto Rico</option>
              <option value="QA">Qatar</option>
              <option value="RO">Romania</option>
              <option value="RU">Russian Federation</option>
              <option value="RW">Rwanda</option>
              <option value="RE">Réunion</option>
              <option value="BL">Saint Barthélemy</option>
              <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
              <option value="KN">Saint Kitts and Nevis</option>
              <option value="LC">Saint Lucia</option>
              <option value="MF">Saint Martin (French part)</option>
              <option value="PM">Saint Pierre and Miquelon</option>
              <option value="VC">Saint Vincent and the Grenadines</option>
              <option value="WS">Samoa</option>
              <option value="SM">San Marino</option>
              <option value="ST">Sao Tome and Principe</option>
              <option value="SA">Saudi Arabia</option>
              <option value="SN">Senegal</option>
              <option value="RS">Serbia</option>
              <option value="SC">Seychelles</option>
              <option value="SL">Sierra Leone</option>
              <option value="SG">Singapore</option>
              <option value="SX">Sint Maarten (Dutch part)</option>
              <option value="SK">Slovakia</option>
              <option value="SI">Slovenia</option>
              <option value="SB">Solomon Islands</option>
              <option value="SO">Somalia</option>
              <option value="ZA">South Africa</option>
              <option value="GS">South Georgia and the South Sandwich Islands</option>
              <option value="SS">South Sudan</option>
              <option value="ES">Spain</option>
              <option value="LK">Sri Lanka</option>
              <option value="SD">Sudan</option>
              <option value="SR">Suriname</option>
              <option value="SJ">Svalbard and Jan Mayen</option>
              <option value="SE">Sweden</option>
              <option value="CH">Switzerland</option>
              <option value="SY">Syrian Arab Republic</option>
              <option value="TW">Taiwan, Province of China</option>
              <option value="TJ">Tajikistan</option>
              <option value="TZ">Tanzania, United Republic of</option>
              <option value="TH">Thailand</option>
              <option value="TL">Timor-Leste</option>
              <option value="TG">Togo</option>
              <option value="TK">Tokelau</option>
              <option value="TO">Tonga</option>
              <option value="TT">Trinidad and Tobago</option>
              <option value="TN">Tunisia</option>
              <option value="TR">Turkey</option>
              <option value="TM">Turkmenistan</option>
              <option value="TC">Turks and Caicos Islands</option>
              <option value="TV">Tuvalu</option>
              <option value="UG">Uganda</option>
              <option value="UA">Ukraine</option>
              <option value="AE">United Arab Emirates</option>
              <option value="GB">United Kingdom</option>
              <option value="US">United States</option>
              <option value="UY">Uruguay</option>
              <option value="UZ">Uzbekistan</option>
              <option value="VU">Vanuatu</option>
              <option value="VE">Venezuela, Bolivarian Republic of</option>
              <option value="VN">Viet Nam</option>
              <option value="VG">Virgin Islands, British</option>
              <option value="VI">Virgin Islands, U.S.</option>
              <option value="WF">Wallis and Futuna</option>
              <option value="EH">Western Sahara</option>
              <option value="YE">Yemen</option>
              <option value="ZM">Zambia</option>
              <option value="ZW">Zimbabwe</option>
              
              <!-- Add more options as needed -->
          </select>
      </div>
      
          <!-- <div class="new required col-md-6">
            <label for="inputPostcode" class="form-label">Postcode</label>
            <input type="text" class="form-control" id="inputPostcode" placeholder="">
          </div> -->

          <div class="new required col-md-12">
            <label class="control-label"> Postcode </label>
            <input
              type="text"
              class="form-control {{
                err && !billingDetails.postcode ? 'is-invalid' : ''
              }}"
              (click)="err = false"
              id="inputName"
              placeholder=""
              required="required"
              [(ngModel)]="billingDetails.postcode"
            />
          </div>

          <!-- <div class="new required col-md-6">
            <label for="inputPhone" class="form-label">Phone</label>
            <input type="text" class="form-control" id="inputPhone" placeholder="">
          </div> -->
        </div>
        <p class="text-danger" *ngIf="err">{{ err }}</p>
      </div>
      <!-- <div class="checkout__group">
        <h3 class="section__title">Cart Totals</h3>
        <table class="order__table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Product Name</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let prod of shoppingCart">
              <tr *ngIf="shoppingCart">
                <td>
                  <img
                    [src]="prod.productId.image"
                    class="order__img"
                    alt=""
                    srcset=""
                  />
                </td>
                <td>
                  <h3 class="table__title">
                    {{ prod.productId.title }} x {{ prod.quantity }}
                    <ng-container *ngIf="prod.userWant.gifts.length > 0">
                      <p style="color: rgb(255, 145, 0); font-size: 18px">+</p>
                      <ul class="list-unstyled">
                        <li *ngFor="let gif of prod.userWant.gifts">
                          {{ gif.gift.name }} x {{ gif.quantity }}
                        </li>
                      </ul>
                    </ng-container>
                  </h3>
                </td>
                <td>
                  <span class="table__price"
                    ><i class="bi bi-currency-rupee"></i
                    >{{ prod.userWant.totalAmount }}</span
                  >
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="product">
              <td>
                <img [src]="product.image" alt="" class="order__img" />
              </td>
              <td>
                <h3 class="table__title">
                  {{ product.title }} x {{ quantity }}
                  <ng-container *ngIf="gifts.length > 0">
                    <p style="color: rgb(255, 145, 0); font-size: 18px">+</p>

                    <ul class="list-unstyled">
                      <li *ngFor="let gif of gifts">
                        {{ gif.gift.name }} x {{ gif.quantity }}
                      </li>
                    </ul>
                  </ng-container>
                </h3>
                <p class="table__quantity"></p>
              </td>
              <td>
                <span class="table__price"
                  ><i class="bi bi-currency-rupee"></i>{{ totalPrice }}</span
                >
              </td>
            </tr>
            <tr>
              <td>
                <span class="order__grand-total"></span>
              </td>
              <td><span class="order__subtitle">Total</span></td>
              <td>
                <span class="order__grand-total"
                  ><i class="bi bi-currency-rupee"></i>{{ totalPrice }}</span
                >
              </td>
            </tr>
          </tbody>
        </table>
        <div class="payment__methods"></div>
        <button (click)="checkout()" class="btns btn--md">Place Order</button>
      </div> -->

      <!-- cart + summary -->
   








   



      <section class="" style="padding-top: 30px;">
        <div class="">
          <div class="row">
            <!-- cart -->

            <!-- <h3 class="section__title">Cart Totals</h3>
            <div class="checkout__group col-lg-9">
              <table class="order__table">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Product Name</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let prod of shoppingCart">
                    <tr *ngIf="shoppingCart">
                      <td>
                        <img
                          [src]="prod.productId.image"
                          class="order__img"
                          alt=""
                          srcset=""
                        />
                      </td>
                      <td>
                        <h3 class="table__title">
                          {{ prod.productId.title }} x {{ prod.quantity }}
                          <ng-container *ngIf="prod.userWant.gifts.length > 0">
                            <p style="color: rgb(255, 145, 0); font-size: 18px">
                              +
                            </p>
                            <ul class="list-unstyled">
                              <li *ngFor="let gif of prod.userWant.gifts">
                                {{ gif.gift.name }} x {{ gif.quantity }}
                              </li>
                            </ul>
                          </ng-container>
                        </h3>
                      </td>
                      <td>
                        <span class="table__price"
                          ><i class="bi bi-currency-rupee"></i
                          >{{ prod.userWant.totalAmount }}</span
                        >
                      </td>
                    </tr>
                  </ng-container>
                  <tr *ngIf="product">
                    <td>
                      <img [src]="product.image" alt="" class="order__img" />
                    </td>
                    <td>
                      <h3 class="table__title">
                        {{ product.title }} x {{ quantity }}
                        <ng-container *ngIf="gifts.length > 0">
                          <p style="color: rgb(255, 145, 0); font-size: 18px">
                            +
                          </p>

                          <ul class="list-unstyled">
                            <li *ngFor="let gif of gifts">
                              {{ gif.gift.name }} x {{ gif.quantity }}
                            </li>
                          </ul>
                        </ng-container>
                      </h3>
                      <p class="table__quantity"></p>
                    </td>
                    <td>
                      <span class="table__price"
                        ><i class="bi bi-currency-rupee"></i
                        >{{ totalPrice }}</span
                      >
                    </td>
                  </tr>
                 
                </tbody>
              </table>
              <div class="payment__methods"></div>
            </div> -->



            <div
            class="tab__content col-lg-9"
            content
            id="orders">
            <h4 class="tab__header">Your Cart</h4>
            <div class="tab__body">
              <table class="placed__order-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container  *ngFor="let prod of shoppingCart">
                  <tr *ngIf="shoppingCart">
                      <td>
                        <h3 class="table__title">
                          {{ prod.productId.title }} x {{ prod.quantity }}
                          <ng-container *ngIf="prod.userWant.gifts.length > 0">
                            <p style="color: rgb(255, 145, 0); font-size: 18px">
                              +
                            </p>
                            <ul class="list-unstyled">
                              <li *ngFor="let gif of prod.userWant.gifts">
                                {{ gif.gift.name }} x {{ gif.quantity }}
                              </li>
                            </ul>
                          </ng-container>
                        </h3>
                      </td>
                      <td>
                        <span class="table__price"
                          ><i class="bi bi-currency-rupee"></i
                          >{{ prod.userWant.totalAmount }}</span
                        >
                      </td>
                  </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>



            <div class="col-lg-3" style="padding-left: 20px;">
              <div class="card border">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="mb-2">Sub Total:</p>
                    <p class="mb-2">
                      <i class="bi bi-currency-rupee"></i>{{ subTotal }}
                    </p>
                  </div>
                  <br/>
                  <div class="d-flex justify-content-between">
                    <p class="mb-2">Gift Total:</p>
                    <p class="mb-2">
                      <i class="bi bi-currency-rupee"></i>{{ giftsTotal }}
                    </p>
                  </div>
                  <br/>
                  <div class="d-flex justify-content-between">
                    <p class="mb-2">Total price:</p>
                    <p class="mb-2">
                      <i class="bi bi-currency-rupee"></i>{{ totalPrice }}
                    </p>
                  </div>
                  <br/>
                  <div class="d-flex justify-content-between">
                    <p class="mb-2">Shipping:</p>
                    <p class="mb-2 text-success">Free</p>
                  </div>

                  <hr />
                  <div class="d-flex justify-content-between">
                    <p class="mb-2 fw-bold">Total price:</p>
                    <p class="mb-2 fw-bold">
                      <i class="bi bi-currency-rupee"></i>{{ totalPrice }}
                    </p>
                  </div>
                  <br/>
                  <div class="mt-3">
                    <button (click)="checkout()" class="btns2">
                      Place Order
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- summary -->
          </div>
        </div>
      </section>
      <!-- cart + summary -->





      
    </div>
  </section>
</main>
