<!-- <div class="main-container">
  <div class="container {{ show ? 'right-panel-active' : '' }}" id="container">
    <div class="form-container sign-up-container">
      <div *ngIf="show">
        <h1>Create Account</h1>
        <input
          [(ngModel)]="log.username"
          name="username"
          type="text"
          placeholder="Name"
        />
        <input
          [(ngModel)]="log.email"
          name="email"
          type="email"
          placeholder="Email"
        />
        <input
          [(ngModel)]="log.password"
          name="password"
          type="password"
          placeholder="Password"
        />
        <button (click)="register()">Sign Up</button>
      </div>
    </div>
    <div class="form-container sign-in-container">
      <div class="" *ngIf="!show">
        <h1>Sign in</h1>
        <input
          type="email"
          name="email"
          [(ngModel)]="log.email"
          placeholder="Email"
        />
        <input
          type="password"
          name="password"
          [(ngModel)]="log.password"
          placeholder="Password"
        />
        <a href="#">Forgot your password?</a>
        <button (click)="login()">Sign In</button>
      </div>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn" (click)="show = false">
            Sign In
          </button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp" (click)="show = true">
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div
  class="headertop"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../assets/assets/img/empty-black-wall-with-blank-frame-it_853451-299.avif);
    background-size: cover;
    padding-bottom: 120px;
  "
>
  <div
    style="
      padding-top: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 50px;
      font-weight: 800;
      letter-spacing: 1px;
    "
  >
    Login
  </div>
</div>

<!--=============== MAIN ===============-->
<main class="main">
  <!--=============== BREADCRUMB ===============-->
  <section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
      <li><a class="breadcrumb__link">Home</a></li>
      <li><span class="breadcrumb__link">></span></li>
      <li><span class="breadcrumb__link">Login</span></li>
    </ul>
  </section>

  <section class="login-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title text-center mb-4">Login</h2>
              <form
                [formGroup]="myForm"
                (ngSubmit)="login()"
                class="needs-validation"
                novalidate
                autocomplete="off"
              >
                <div class="mb-3">
                  <label for="email">Email Address</label>
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    name="email"
                    formControlName="email"
                    [attr.required]="true"
                    autofocus
                    placeholder="Enter your email"
                  />
                  <div
                    *ngIf="
                      myForm.get('email')?.invalid &&
                      (myForm.get('email')?.dirty ||
                        myForm.get('email')?.touched)
                    "
                    class="invalid-feedback"
                  >
                    Enter a valid email address.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="password">Password</label>
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    formControlName="password"
                    [attr.required]="true"
                    placeholder="Enter your password"
                  />
                  <div
                    *ngIf="
                      myForm.get('password')?.invalid &&
                      (myForm.get('password')?.dirty ||
                        myForm.get('password')?.touched)
                    "
                    class="invalid-feedback"
                  >
                    Password is required.
                  </div>
                </div>
                <div class="form-check mb-3">
                  <input
                    type="checkbox"
                    name="remember"
                    id="remember"
                    class="form-check-input"
                  />
                  <label for="remember" class="form-check-label"
                    >Remember Me</label
                  >
                </div>
                <p class="text-danger" *ngIf="err">{{ err }}</p>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>
              </form>
            </div>
            <div class="card-footer text-center">
              Don't have an account?
              <a [routerLink]="['/register']">Create Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
