<div
  class="headertop"
  style="
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../assets/assets/img/empty-black-wall-with-blank-frame-it_853451-299.avif);
    background-size: cover;
    padding-bottom: 120px;
  "
>
  <div
    style="
      padding-top: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 50px;
      font-weight: 800;
      letter-spacing: 1px;
    "
  >
    Cart
  </div>
</div>

<main class="main">
  <!--=============== BREADCRUMB ===============-->
  <!-- <section class="breadcrumb">
      <ul class="breadcrumb__list flex container">
        <li><a href="index.html" class="breadcrumb__link">Home</a></li>
        <li><span class="breadcrumb__link"></span>></li>
        <li><span class="breadcrumb__link">Shop</span></li>
        <li><span class="breadcrumb__link"></span>></li>
        <li><span class="breadcrumb__link">Cart</span></li>
      </ul>
    </section> -->

  <!--=============== CART ===============-->
  <section class="cart section--lg container">
    <div class="table__container">
      <table class="order__table">
        <thead>
          <tr>
            <th class="trnew">Product</th>
            <th class="trnew">Name</th>
            <th class="trnew">Gift</th>
            <th class="trnew">Price</th>
            <th class="trnew">Quantity</th>
            <th class="trnew">Subtotal</th>
            <th class="trnew">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let w of cartList">
            <td>
              <img [src]="w.productId.image" alt="" class="table__img" />
            </td>
            <td>
              <h3 class="table__title">
                {{ w.productId.title }}
                <div *ngIf="w.userWant.gifts.length > 0">
                  <!-- <p style="color: rgb(255, 145, 0)">+</p> -->

                  
                </div>
              </h3>
            </td>
            <td>
              <table>
                <tr *ngFor="let gif of w.userWant.gifts">
                  <td>{{ gif.gift.name }}</td>
                  <td>
                    <input
                      type="number"
                      min="1"
                      [max]="gif.gift.quantity"
                      [(ngModel)]="gif.quantity"
                      class="quantity"
                      (input)="
                        updateGift(
                          w.userWant._id,
                          gif.quantity,
                          gif.gift._id,
                          w._id
                        )
                      "
                    />
                  </td>
                  <td>
                    <i
                      (click)="
                        removeGift(w.userWant._id, gif.gift._id, w._id)
                      "
                      class="fi fi-rs-trash table__trash"
                    ></i>
                  </td>
                </tr>
              </table>
            </td>
            <td>
              <i class="bi bi-currency-rupee"></i> {{ w.productId.amount }}
              <span *ngIf="w.userWant.gifts.length > 0" class="table__price">
                <p style="color: rgb(255, 145, 0)">+</p>
                <i class="bi bi-currency-rupee"></i
                >{{ giftTotal(w.userWant.gifts) }}</span
              >
              <!-- <span class="table__price">${{ w.productId.amount }}</span> -->
            </td>
            <td>
              <input
                type="number"
                min="1"
                [(ngModel)]="w.userWant.quantity"
                class="quantity"
                (input)="updateQt(w._id, w.userWant.quantity, w.userWant._id)"
              />
            </td>
            <td>
              <span class="subtotal"
                ><i class="bi bi-currency-rupee"></i
                >{{ w.userWant.totalAmount }}</span
              >
            </td>
            <td>
              <i
                (click)="remove(w._id)"
                class="fi fi-rs-trash table__trash"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cart__group grid">
      <div></div>
      <div class="cart__total">
        <!-- <h3 class="section__title">Cart Totals</h3> -->
        <table class="table">
          <thead>
            <tr>
              <th class="trnew">Cart Totals</th>
            </tr>
          </thead>
        </table>
        <table class="cart__total-table">
          <tr>
            <td><span class="cart__total-title">Cart Subtotal</span></td>
            <td>
              <span class="cart__total-price"
                ><i class="bi bi-currency-rupee"></i>{{ total }}</span
              >
            </td>
          </tr>
          <tr>
            <td><span class="cart__total-title">Shipping</span></td>
            <td><span class="cart__total-price">Free</span></td>
          </tr>
          <tr>
            <td><span class="cart__total-title">Total</span></td>
            <td>
              <span class="cart__total-price"
                ><i class="bi bi-currency-rupee"></i>{{ total }}</span
              >
            </td>
          </tr>
        </table>

        <!-- <a href="index.html" class="btn flex btn__md">
          <i class="fi-rs-shopping-bag"></i> Continue Shopping
        </a> -->

        <a (click)="checkout()" class="btns2">
          <i class="fi fi-rs-box-alt"></i> Proceed To Checkout
        </a>
      </div>
    </div>
  </section>
</main>
