<main class="main">
    <!--=============== DETAILS ===============-->
    <section class="details section--lg">
        <div class="details__container container">

            <h3 class="section__title" data-aos="fade-right">
                <span>Privacy</span> Policy
            </h3>

            <h3>Who we are :</h3>

            <p>Our website address is: <a href="#">https://www.Replicagifts567&#64;gmail.com.</a></p>

            <h3>Cancellation Policy :</h3>

            <p>Once the customer places their order, It will be processed within an hour, so we request the customer to
                place the order carefully because we can’t cancel the order since it’s a customized product. For other
                products, the customer can cancel within 12 hours from the time of purchase by sending mail to
                support&#64;rkcart.com.</p>

            <h3>Comments :</h3>

            <p>When visitors leave comments on the site, we collect the data shown in the comment form, and also the
                visitor’s IP address and browser user agent string to help spam detection.</p>

            <h3>Media :</h3>
            <p>If you upload images to the website, you should avoid uploading images with embedded location data (EXIF
                GPS) included. Visitors to the website can download and extract any location data from images on the
                website.</p>

            <h3>Cookies :</h3>

            <p>If you leave a comment on our site, you may opt-in to saving your name, email address and website in
                cookies. These are for your convenience so that you do not have to fill in your details again when you
                leave
                another comment. These cookies will last for one year.

                If you visit our login page, we will set a temporary cookie to determine if your browser accepts
                cookies.
                This cookie contains no personal data and is discarded when you close your browser.

                When you log in, we will also set up several cookies to save your login information and your screen
                display
                choices. Login cookies last for two days, and screen options cookies last for a year. If you select
                “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies
                will
                be removed.
                If you edit or publish an article, an additional cookie will be saved in your browser. This cookie
                includes
                no personal data and simply indicates the post ID of the article you just edited. It expires after 1
                day.

                Embedded content from other websites

                Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded
                content
                from other websites behaves in the exact same way as if the visitor has visited the other website.

                These websites may collect data about you, use cookies, embed additional third-party tracking, and
                monitor
                your interaction with that embedded content, including tracking your interaction with the embedded
                content
                if you have an account and are logged in to that website.</p>

            <h3>Who we share your data with :</h3>
            <p>If you request a password reset, your IP address will be included in the reset email.</p>

            <h3>How long we retain your data :</h3>
            <p>If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can
                recognize
                and approve any follow-up comments automatically instead of holding them in a moderation queue.

                For users that register on our website (if any), we also store the personal information they provide in
                their user profile. All users can see, edit, or delete their personal information at any time (except
                they
                cannot change their username). Website administrators can also see and edit that information.</p>

            <h3>What rights you have over your data :</h3>

            <p>If you have an account on this site, or have left comments, you can request to receive an exported file
                of
                the personal data we hold about you, including any data you have provided to us. You can also request
                that
                we erase any personal data we hold about you. This does not include any data we are obliged to keep for
                administrative, legal, or security purposes.</p>

            <h3> Where we send your data :</h3>
            <p>Visitor comments may be checked through an automated spam detection service.</p>
        </div>
    </section>
</main>


<main class="main">
    <!--=============== DETAILS ===============-->
    <section class="details section--lg">
        <div class="details__container container">
            <h3 class="section__title" data-aos="fade-right">
                <span>Terms &</span> Condition
            </h3>

            <p>Please read these Terms and Conditions carefully before using the RK Gifts website. By accessing and
                using
                this website, you agree to comply with and be bound by these terms. If you do not agree to these terms,
                please do not use this website.</p>
            <h3>1. Definitions</h3>

            <p>"RK Gifts" refers to the website, its owners, operators, and representatives. "User," "You," or "Your"
                refers to any person accessing and using the RK Gifts website. "Products" refers to personalized gifts,
                including but not limited to wooden photo frames, acrylic caricature, wooden printed caricature, kids
                puzzles, tea coasters, ready-made frames, jigsaw maps, personalized LED bottle lamp, and Eco Plant stand
                with test tubes, offered for sale on the RK Gifts website.</p>

            <h3>2. Acceptance of Terms</h3>

            <p>By using this website, you acknowledge that you have read, understood, and agree to be bound by these
                Terms
                and Conditions, as well as our Privacy Policy. RK Gifts reserves the right to modify these terms at any
                time, and any changes will be effective immediately upon posting.</p>

            <h3>3. Use of the Website</h3>

            <p>You agree to use the RK Gifts website solely for lawful purposes. You must not use this website to
                transmit
                any harmful, unlawful, or unauthorized material. You agree not to engage in any activity that may
                disrupt or
                interfere with the functionality and security of the website.</p>

            <h3>4. Product Information</h3>

            <p> Product descriptions, images, and prices are provided for your reference. However, variations may occur
                due
                to individual computer screen settings. RK Gifts reserves the right to modify, discontinue, or withdraw
                any
                product without prior notice.

                While we make every effort to ensure the accuracy of product information, we do not warrant or guarantee
                the
                completeness or accuracy of the information on our website.</p>

            <h3> 5. Order Placement</h3>

            <p>By placing an order on RK Gifts, you confirm that you are at least 18 years old or are using the website
                with the consent of a parent or guardian. Orders are subject to product availability, payment
                verification,
                and acceptance.

                We reserve the right to refuse or cancel any order at our discretion.</p>

            <h3>6. Personalization</h3>

            <p>For personalized products, you are responsible for providing accurate and complete personalization
                details.
                RK Gifts will not be responsible for errors or inaccuracies in personalization details provided by you.

                Once an order is placed, changes to personalization may not be possible, so please review your
                information
                carefully before submitting.</p>

            <h3>7. Payments</h3>

            <p> All payments on RK Gifts are processed securely.

                Payment is due at the time of order placement, and we accept various payment methods, including credit
                cards, debit cards, and other online payment options.</p>

            <h3>8. Shipping and Delivery</h3>

            <p>Your items will be shipped within 3-5 business days

                Shipping and delivery information is available on the website. Please review it before placing an order.

                RK Gifts is not responsible for delays caused by factors beyond our control, such as shipping carriers
                and
                customs.

                Delivery timeframes are approximate and may vary based on your location.</p>

            <h3>9. Returns and Refunds</h3>

            <p> Please review our Returns and Refunds Policy for information on returning products and requesting
                refunds.</p>

            <h3>10. Intellectual Property</h3>

            <p>All content, trademarks, and intellectual property on the RK Gifts website are owned or licensed by RK
                Gifts. You are not authorized to use this content without our prior written consent.</p>

            <h3>11. Privacy</h3>

            <p>Your privacy is important to us. Please refer to our Privacy Policy for details on how we collect, use,
                and
                protect your personal information.</p>

            <h3>12. Limitation of Liability</h3>

            <p> RK Gifts is not liable for any direct, indirect, incidental, or consequential damages resulting from the
                use
                of the website or products.</p>

            <h3>13. Governing Law</h3>

            <p>These Terms and Conditions are governed by the laws of [ Tamil Nadu Jurisdiction], and any disputes will
                be
                subject to the exclusive jurisdiction of the courts in [Tamil Nadu Jurisdiction].</p>

            <h3>14. Contact Information</h3>

            <p>If you have any questions or concerns regarding these Terms and Conditions, please contact us at [+91
                95856
                55245].

                By using the RK Gifts website, you agree to abide by these Terms and Conditions. It is your
                responsibility
                to review and understand these terms before making a purchase</p>
        </div>
    </section>
</main>