<div
  class="headertop"
  style="background-color: rgb(41, 41, 41); padding-bottom: 120px"
>
  <div
    style="
      padding-top: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 50px;
      font-weight: 800;
      letter-spacing: 1px;
    "
  >
    My Account
  </div>
</div>

<!--=============== MAIN ===============-->
<main class="main">
  <!--=============== BREADCRUMB ===============-->
  <section class="breadcrumb">
    <ul class="breadcrumb__list flex container">
      <li><a (click)="home()" class="breadcrumb__link">Home</a></li>
      <li><span class="breadcrumb__link">></span></li>
      <li><span class="breadcrumb__link">Account</span></li>
    </ul>
  </section>

  <!--=============== ACCOUNTS ===============-->
  <section class="accounts section--lg">
    <div class="accounts__container container grid">
      <div class="account__tabs">
        <p
          class="account__tab {{ display === 'dashboard' ? 'active-tab' : '' }}"
          (click)="changeDisplay('dashboard')"
          data-target="#dashboard"
        >
          <i class="fi fi-rs-settings-sliders"></i> Dashboard
        </p>
        <p
          (click)="changeDisplay('order')"
          class="account__tab {{ display === 'order' ? 'active-tab' : '' }}"
          data-target="#orders"
        >
          <i class="fi fi-rs-shopping-bag"></i> Orders
        </p>
        <p
          (click)="changeDisplay('address')"
          class="account__tab {{ display === 'address' ? 'active-tab' : '' }}"
          data-target="#address"
        >
          <i class="fi fi-rs-marker"></i> My Address
        </p>
        <p
          (click)="changeDisplay('cart')"
          class="account__tab {{ display === 'cart' ? 'active-tab' : '' }}"
          data-target="#cart"
        >
          <i class="fi fi-rs-cart-shopping-fast"></i>
          My Cart
        </p>
        <p
          (click)="changeDisplay('wish')"
          class="account__tab {{ display === 'wish' ? 'active-tab' : '' }}"
          data-target="#wish"
        >
          <i class="fi fi-rs-heart"></i> My Wish
        </p>
        <!-- <p class="account__tab" data-target="#change-password">
            <i class="fi fi-rs-settings-sliders"></i> Change Password
          </p> -->
        <p (click)="logout()" class="account__tab">
          <i class="fi fi-rs-exit"></i> Logout
        </p>
      </div>
      <div class="tabs__content">
        <div
          class="tab__content {{ display === 'dashboard' ? 'active-tab' : '' }}"
          content
          id="dashboard"
        >
          <h3 class="tab__header">Hello {{ user.username }}</h3>
          <div class="tab__body">
            <p class="tab__description">
              From your account dashboard. you can easily check & view your
              recent order, manage your shipping and billing addresses and edit
              your password and account details
            </p>
          </div>
        </div>
        <div
          class="tab__content {{ display === 'order' ? 'active-tab' : '' }}"
          content
          id="orders"
        >
          <h3 class="tab__header">Your Orders</h3>
          <div class="tab__body">
            <table class="placed__order-table">
              <thead>
                <tr>
                  <th>Orders</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Totals</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of orders">
                  <td>{{ order.product.title }}</td>
                  <td>{{ order.chreatedAt | date }}</td>
                  <td>Processing</td>
                  <td>${{ order.totalAmount }}</td>
                  <td>
                    <a (click)="navtoorder(order._id)" rou class="view__order"
                      >View</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div
          class="tab__content {{ display === 'address' ? 'active-tab' : '' }}"
          content
          id="address"
        >
          <h3 class="tab__header">Shipping Address</h3>
          <div class="tab__body">
            <table class="placed__order-table">
              <thead>
                <!-- <tr>
             
                  <th>Address Details</th>

                </tr> -->
              </thead>
              <tbody>
                <tr *ngIf="!user?.billingDetails || edit">
                  <td>Profile Pic</td>
                  <td>
                    <input
                      type="file"
                      class="form-control"
                      (change)="addPic($event)"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Name</td>
                  <td *ngIf="user?.billingDetails?.address && !edit">
                    {{ user.billingDetails.name }}
                  </td>
                  <td *ngIf="!user?.billingDetails || edit">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="billingDetails.name"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td *ngIf="user?.billingDetails?.address && !edit">
                    {{ user.billingDetails.email }}
                  </td>
                  <td *ngIf="!user?.billingDetails || edit">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="billingDetails.email"
                    />
                  </td>
                </tr>
                <tr>
                  <td>City</td>
                  <td *ngIf="user?.billingDetails?.address && !edit">
                    {{ user.billingDetails.city }}
                  </td>
                  <td *ngIf="!user?.billingDetails || edit">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="billingDetails.city"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td *ngIf="user?.billingDetails?.address && !edit">
                    {{ user.billingDetails.address }}
                  </td>
                  <td *ngIf="!user?.billingDetails || edit">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="billingDetails.address"
                    />
                  </td>
                </tr>
                <tr>
                  <td>State</td>
                  <td *ngIf="user?.billingDetails?.address && !edit">
                    {{ user.billingDetails.state }}
                  </td>
                  <td *ngIf="!user?.billingDetails || edit">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="billingDetails.state"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Country</td>
                  <td *ngIf="user?.billingDetails?.address && !edit">
                    {{ user.billingDetails.country }}
                  </td>
                  <td *ngIf="!user?.billingDetails || edit">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="billingDetails.country"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Pincode</td>
                  <td *ngIf="user?.billingDetails?.address && !edit">
                    {{ user.billingDetails.postcode }}
                  </td>
                  <td *ngIf="!user?.billingDetails || edit">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="billingDetails.postcode"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td *ngIf="user?.billingDetails?.address && !edit">
                    {{ user.billingDetails.phone }}
                  </td>
                  <td *ngIf="!user?.billingDetails || edit">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="billingDetails.phone"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
            <a
              class="btns"
              *ngIf="!edit"
              (click)="edit = true; billingDetails = user.billingDetails"
              >Edit</a
            >
            <a class="btns" *ngIf="edit" (click)="edit = false; addAddress()"
              >Save</a
            >
          </div>
        </div>
        <div
          class="tab__content {{ display === 'cart' ? 'active-tab' : '' }}"
          content
          id="orders"
        >
          <h3 class="tab__header">Your Cart</h3>
          <div class="tab__body">
            <table class="placed__order-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Subtotal</th>
                  <th>Rename</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let w of cartList">
                  <td>
                    <h3 class="table__title">
                      {{ w.productId.title }} x {{ w.quantity }}
                      <span *ngIf="w.userWant.gifts.length">
                        +
                        <span
                          class="w-100"
                          *ngFor="let gif of w.userWant.gifts"
                        >
                          {{ gif.gift.name }} x {{ gif.quantity }}
                        </span>
                      </span>
                    </h3>
                  </td>
                  <td>
                    <span class="table__price"
                      >${{ w.productId.amount }} +
                      {{ w.userWant.totalAmount - w.total }}</span
                    >
                  </td>
                  <td>
                    <input
                      type="number"
                      [(ngModel)]="w.userWant.quantity"
                      class="quantity"
                      (input)="updateQt(w._id, w.userWant.quantity)"
                    />
                  </td>
                  <td>
                    <span class="subtotal">${{ w.userWant.totalAmount }}</span>
                  </td>
                  <td>
                    <i
                      (click)="remove(w._id)"
                      class="fi fi-rs-trash table__trash"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div
          class="tab__content {{ display === 'wish' ? 'active-tab' : '' }}"
          content
          id="orders"
        >
          <h3 class="tab__header">Your Cart</h3>
          <div class="tab__body">
            <table class="placed__order-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Stock Status</th>
                  <th>Action</th>
                  <th>Rename</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let wish of wishList">
                  <td>
                    <h3 class="table__title">
                      {{ wish.title }}
                    </h3>
                  </td>
                  <td>
                    <span class="table__price">${{ wish.amount }}</span>
                  </td>
                  <td><span class="table__stock">In Stock</span></td>
                  <td>
                    <a [routerLink]="['/product', wish._id]" class="btns"
                      >Add to Cart</a
                    >
                  </td>
                  <td>
                    <i
                      (click)="removeWish(wish._id)"
                      class="fi fi-rs-trash table__trash"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="tab__content" content id="change-password">
          <h3 class="tab__header">Change Password</h3>
          <div class="tab__body">
            <form class="form grid">
              <input
                type="password"
                placeholder="Current Password"
                class="form__input"
              />
              <input
                type="password"
                placeholder="New Password"
                class="form__input"
              />
              <input
                type="password"
                placeholder="Confirm Password"
                class="form__input"
              />
              <div class="form__btn">
                <button class="btn btn--md">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
