.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff6200;
    color: #fff;
    border: none;
    border-radius: 50px;
  width: 45px;
  height: 45px;
    cursor: pointer;
    display: none; /* Initially hide the button */
  }

  .scroll-top-btn:hover {
 
    background-color: #d48c5f;
    color: #fff;

  }
  
  .scroll-top-btn.show {
    display: block; /* Show the button when scrolled */
  }