<section class="login-section logpad mt-5 position-relative">
  <div
    *ngIf="spinner"
    class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
    style="z-index: 10000"
  >
    <app-spinner></app-spinner>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card border-0">
          <div class="card-header">
            <h2 class="card-title text-center mb-0">Recover Your Profile</h2>
          </div>
          <div *ngIf="!showPasswordInput" class="card-body">
            <div class="mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input
                id="email"
                type="email"
                class="form-control"
                name="email"
                [attr.required]="true"
                [formControl]="email"
                autofocus
                placeholder="Enter your email"
                (input)="typing()"
              />
            </div>
            <div *ngIf="showCodeInput" class="mb-3">
              <label for="email" class="form-label">Email OTP</label>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="otp"
                placeholder="Enter opt."
                (input)="typing()"
              />
            </div>
            <p *ngIf="err" class="text-danger">{{ err }}</p>
            <button *ngIf="!showCodeInput" (click)="getOtp()" class="btns my-5">
              Get OPT
            </button>
            <button
              *ngIf="showCodeInput"
              (click)="verifyCode()"
              class="btns my-5"
            >
              Submit
            </button>
          </div>
          <div *ngIf="showPasswordInput" class="card-body">
            <div class="mb-3">
              <label for="password" class="form-label"
                >Enter New Password</label
              >
              <input
                id="password"
                type="password"
                name="email"
                [attr.required]="true"
                autofocus
                [(ngModel)]="password"
                placeholder="New Password"
                class="form-control"
                (input)="typing()"
              />
            </div>
            <div *ngIf="showCodeInput" class="mb-3">
              <label for="email" class="form-label">Confirm Password</label>
              <input
                class="form-control"
                type="password"
                [(ngModel)]="crpassword"
                placeholder="Confirm Password"
                (input)="typing()"
              />
            </div>
            <p *ngIf="err" class="text-danger">{{ err }}</p>

            <button (click)="setPassword()" class="btns my-5">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
