<input
  type="file"
  (change)="handleFileInput($event)"
  accept="image/*"
  class="my-5"
/>
<br />
<button class="btn" (click)="edit = !edit">{{ edit ? "Save" : "Edit" }}</button>
<br />
<br />
<div id="canvas-container">
  <img
    [src]="frameSrc[no]"
    id="overLay"
    class="{{ edit ? '' : 'index' }}"
    alt=""
    srcset=""
  />
  <canvas
    #canvas1
    id="canvas1"
    [width]="canvasWidth"
    [height]="canvasHeight"
    [style.backgroundColor]="'transparent'"
    (mousedown)="mouseDownHandler($event)"
    (mousemove)="mouseMoveHandler($event)"
    (mouseup)="mouseUpHandler($event)"
    (mouseenter)="mouseEnterHandler()"
    tabindex="1"
  >
    > Sorry, your browser doesn't support canvas technology.
  </canvas>
</div>

<button class="btn" *ngIf="no > 0" (click)="no = no - 1">privious</button>
<button class="btn" *ngIf="no < frameSrc.length" (click)="no = no + 1">
  next
</button>
<button class="btn" (click)="captureScreenshot()">Download</button>
