.card-header{
    background-color: rgb(50, 50, 50);
    color: white !important;
}

.card-header h2{

    color: white !important;
}

.card-footer{
    border: none;
    background-color: white;
}

.card-footer a{
    color: rgb(255, 111, 0);
}